body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

h1 {
    font-size: 2px;
}

footer div {
    font-size: 34px;
    color: palevioletred;
}

footer div {
    font-size: 34px;
    color: palevioletred;
}
footer div {
    font-size: 34px;
    color: palevioletred;
}
footer div {
    font-size: 34px;
    color: palevioletred;
}